*{
    margin: 0;
    padding: 0;
}

/*1em vale 16 px*/
body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e6e6e6;

}
h1{
    color: #000;
    font-size: 2.5em;
}
h2{
    color: #053B50;
}

h3{
    color: #565656;
    background-color: #ccc;
    padding: 5px;
}
a{
    text-decoration: none;
    color: #053B50;
}

a:link, a:visited{
    color: #053B50;
}
a:hover {
    text-decoration: underline;
}
p{
    text-align: justify;
}


/*Classes*/
.branco{
    color: white;
}

.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.data-postagem{
    font-size: 0.8em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.conteudo-lateral{
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.postagem-lateral{
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted #ccc;
}

.margin-top{
    margin-top: 10px;
}
/* IDS*/
#area-cabecalho{
    background-color: #176B87;
    padding: 15px;
    text-align: center;
}
#area-logo, #area-menu{
    padding: 10px;
}
#area-principal{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}
#area-postagens{
    width: 660px;
    float: left;
}
#area-lateral{
    width: 240px;
    float: right;
}


#rodape{
    clear: both;
    text-align: center;
    padding: 15px;
    background-color: #ccc;
}

#area-cabecalho  a:link ,#area-cabecalho  a:visited{
    color: #fff;
    padding: 8px 12px;
}
#area-cabecalho  a:hover{
    color: #053B50;
    background-color: #fff;
    text-decoration: none;
}